/* CSS Document */
body {margin: 0px;padding: 0px;background: #000;font-size: 12px; font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;color: #522f0c ;width: 100%;overflow: hidden;}
input  , ul , li ,dl,dd,dt {margin: 0px;padding: 0px;}
ul , li {list-style: none}
a {text-decoration: none;}
i , em {font-style: normal;}

.container {width: 1136px; height: 640px;background:url(../images/zzrz_00.png); padding: 0px;margin: 0px auto;}
.common_top {width: 100%; height: 101px; margin:0px auto;position: absolute;z-index: 1;font-size: 22px; color: #f6ffdb;}
.common_user {width: 211px; height: 101px; float: left;margin: 5px 0px 0px 5px;}
.common_photo {width: 78px; height: 78px; overflow: hidden;border-radius: 78px;margin: 11px 0px 0px 11px;}
.common_photo img {width: 78px; height: 78px; }
.common_position{width: 211px; height: 101px; position:relative;background: url(../images/zzrz_01.png);margin: -89px 0px 0px 0px;  padding: 0px 0px 0px 98px;text-align: center;line-height:52px;}
.common_date {width: 192px; height: 53px; background: url(../images/zzrz_02.png);float: left; margin: 5px 0px 0px 260px;line-height: 53px; text-align: center;font-size: 18px;}
.common_capital {width: 165px; height: 49px; background: url(../images/zzrz_03.png);float: left;margin: 5px 0px 0px 210px; padding-left: 46px; font-size: 18px;line-height: 52px;}
.common_authentication {width: 1126px; height: 529px;background: url(../images/zzrz_06.png);position: absolute;z-index: 3;left: 50%; margin: 106px -562px;padding:15px 18px 0px;}
.label {width: 100%; height: 40px;float: left;margin: 0px auto;display: block;position: relative;z-index: 1;}
.label li {display: block;width: 161px; height: 37px;background: url(../images/zzrz_05b.png);float: left;line-height: 38px;font-size: 18px; color:#413316;margin: 0px 5px; cursor: pointer;}
.common_label_selected {background: url(../images/zzrz_05a.png)!important;}
.common_label_disable {}
.common_content {width: 1088px; height: 456px;float: left;background: #dcceb6 ;border: 1px solid #5e5438; border-radius:5px;margin: -2px 0px 0px 2px;overflow: auto;}
.common_label_content {height:452px;padding-left: 3px;}
.common_label_content_00 {width: 264px; height: 446px; padding-left:10px; background: #f2ebe0 ;border: 2px solid #847856;float: left;border-radius: 5px;margin: 3px ; padding: 35px ;}
.common_label_content_00 h1 {width: 100%; height:34px; float: left; display: block; font-size: 28px;text-align: center;line-height: 34px;margin: 0px;}
.common_label_content_00 ul {width: 100%; height: auto; display:block; font-size: 24px;margin-top: 46px;float: left;}
.common_label_content_00 ul li {margin-bottom: 20px;}
.common_label_content_00 button {width: 185px; height: 52px; border: 0px; margin: 38px auto 0px;background: url(../images/zzrz_07a.png);font-size: 20px; text-align: center;  line-height:40px; color: #FFF;text-shadow: 0px 0px 8px #000 ;}
.common_label_content_00 button:hover {color: #FFF;}
.common_label_content_01 {background: url(../images/zzrz_07b.png)!important;}
.common_close {display: block;width: 54px; height: 54px; position:fixed;background:url(../images/zzrz_04.png);z-index: 2;top: 6px;left: 1150px; cursor: pointer;}